################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/TicketsPED
# Carpetas de compilación
bin/
obj/

# Visual Studio
.vs/

# Archivos temporales
*.suo
*.user
*.pdb
*.exe

# Configuración de VS
*.json
